<%- include('partials/header.ejs'); %>
<body>
    <main class="container">
       <section id="intro-section">
            <div class="intro-section">
                <div class="container intro-container my-5 ">
                    <div class="p-5 text-center rounded-3 about-me-div">
                        <img src="./assets/profile-image.PNG" alt="profile image" class="profile-image ">
                        <h2 class=" my-2">Hello!</h2>
                        <p class="col-lg-8 mx-auto fs-5 text-muted"> Hi, I’m a first-year IT engineering student with a legal background, which basically means I went from reading laws to reading error messages. Both require patience, logic, and occasionally questioning reality.</p>
                        <p class="col-lg-8 mx-auto fs-5 text-muted"> This blog is where I share my thoughts on the books I read, what I loved, what stayed with me, and whether I think they’re worth your time. Happy reading! 📚✨</p>

                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<%- include('partials/footer.ejs'); %>